{% load staticfiles i18n %}
<header id="fh5co-header-section" class="sticky-banner">
  <div class="container">
    <div class="nav-header">
      <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
      <h1 id="fh5co-logo"><a href="{% url 'home' %}">Datelikeus</a></h1>
      <!-- START #fh5co-menu-wrap -->
      <nav id="fh5co-menu-wrap" role="navigation">
        <ul class="sf-menu" id="fh5co-primary-menu">
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_signup' %}"> {% trans "Album Box" %}</a>  <!-- TODO: change url to user's album page. -->
          </li>
          <li>
            <a href="{% url 'users:update' %}" class="fh5co-sub-ddown"><i class="fa fa-cog fa-2x" aria-hidden="true"></i></a>
            <ul class="fh5co-sub-menu">
            <li class="nav-link"><a href="{% url 'users:detail' request.user.username  %}">{% trans "Signed in as "%}{% trans request.user.username %} <span class="sr-only">(current)</span></a></li>
              {# URL provided by django-allauth/account/urls.py #}
              <!--<a class="nav-link" href="{% url 'users:detail' request.user.username  %}">{% trans "My Profile" %}</a>-->
              <li><a class="nav-link" href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a></li>
            </ul>
          </li>
          {% else %}
          <li class="nav-item">
            {# URL provided by django-allauth/account/urls.py #}
            <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
          </li>
          <li class="nav-item">
            {# URL provided by django-allauth/account/urls.py #}
            <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
</header>
