{% extends "base.html" %}{% load staticfiles i18n %}

{% block main %}

{% include 'shared/landing-cover.html' %}
{% include 'shared/navbar.html' %}


  <!--{% if messages %}
      {% for message in messages %}
          <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
      {% endfor %}
  {% endif %}-->

  <div class="container">
  <div id="fh5co-couple" class="fh5co-section-gray">
    <div class="container">
      <div class="row row-bottom-padded-md animate-box">
        <div class="col-md-6 col-md-offset-3 text-center">
          <div class="col-md-5 col-sm-5 col-xs-5 nopadding">
            <img src="{% static 'images/groom.jpg' %}" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
            <h3>Logged in user</h3>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2 nopadding"><h2 class="amp-center"><i class="icon-heart"></i></h2></div>
          <div class="col-md-5 col-sm-5 col-xs-5 nopadding">
            <img src="{% static 'images/bride.jpg' %}" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
            <h3>User's lover</h3>
          </div>
        </div>
      </div>
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2">
          <div class="col-md-12 text-center heading-section">
            <h2>We've been dating</h2>
            <p><strong>on Dec 28, 2017 &mdash; Boracay, Philippines</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="fh5co-countdown">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center animate-box">
        <p class="countdown">
          <span id="days"></span>
          <span id="hours"></span>
          <span id="minutes"></span>
          <span id="seconds"></span>
        </p>
      </div>
    </div>
  </div>
</div> <!-- /container -->
{% include 'shared/footer.html' %}
{% endblock main%}

